# --------------------------
# 操作系统生成文件
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# C / C++ (c17, cpp23)
# --------------------------
# 忽略所有常见的编译产出文件
*.o
*.out
*.exe
*.app
*.dylib
*.so
a.out
# 忽略没有后缀的二进制文件
a
main
.ccls-cache/
compile_commands.json

# --------------------------
# Rust
# --------------------------
/rust/**/target/
/rust/**/Cargo.lock

# --------------------------
# C# (csharp)
# --------------------------
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo

# --------------------------
# Haskell
# --------------------------
.stack-work/
dist-newstyle/
*.hi

# --------------------------
# Lean 4
# --------------------------
.lake/
build/

# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
.venv/
venv/

# --------------------------
# ATS
# --------------------------
*_dats.c
*_sats.c
